body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
h2{
    margin-top: 20px;
    font-size: 3rem;
    color: #fc0000;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.result-container{
    margin: 80px;
}
.result-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.result-container th, .result-container td {
    border: 1px solid #ddd;
    padding: 12px;
    font-size: 1.5rem;
    text-align: center;
}

.result-grade {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
    color: rgb(16, 96, 66);
  
    
}

.pass {
    color: green;
    font-weight: bold;
}

.fail {
    color: red;
    font-weight: bold;
}
